<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Clientes/Proveedores</h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Clientes y proveedores</li>
    </ol>    
  </section>
<% end %>

<section class="content">
        <div class="box-header">
          <div class="box-tools pull-left">
            <%# Added Bootstrap data modal attribute %>
            <%= link_to '#new_person_modal', 'data-toggle' => 'modal', :class => 'btn btn-success' do %>
              <span class="glyphicon glyphicon-plus"></span>
              Nuevo
            <% end %>
            <%#= link_to 'New Person', '#new_person_modal', 'data-toggle' => 'modal' %>

            <%# Bootstrap modal markup. @see: http://getbootstrap.com/javascript/#modals %>
            <div class="modal fade" id="new_person_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Crear cliente o proveedor</h4>
                  </div>
                  <div class="modal-body">
                    <%# Render the new person form (passing modal => true to enable remote => true) %>
                    <%= render 'form', modal: true %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>         
          </div>
        </div>
        
  <div class="row">
    <div class="col-xs-12">

      <div class="box box-primary">

        <div class="box-body table-responsive">
          <table id="table_person" class="display table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Documento</th>
                <th>Tipo</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @people.each do |person| %>
                <%# Render table row partial for each person object %>
                <%= render partial: 'table_row', locals: {person: person} %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

