<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Editar</h1>

      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><%= link_to "Productos", products_path %></li>
        <li class="active">Editar</li>
      </ol>
    
  </section>
<% end %>

<%= render 'form' %>
