<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Productos</h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Productos</li>
    </ol>    
  </section>
<% end %>

<section class="content">
<div class="box-header">
  <div class="box-tools pull-left">

  <%= link_to '#new_product_modal', 'data-toggle' => 'modal', :class => 'btn btn-success' do %>
              <span class="glyphicon glyphicon-plus"></span>
              Nuevo
            <% end %>
  
            <div class="modal fade" id="new_product_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Create new person</h4>
                  </div>
                  <div class="modal-body">
                    <%= render 'form', modal: true %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        
        <div class="box-body table-responsive">
          <table id="table_product" class="display table">
            <thead>
              <tr>
              <th>Codigo</th>
              <th>Nombre</th>
              <th>Unidad de medida</th>
              <th>Precio de venta</th>
              <th>Cantidad</th>
              <th>Marca</th>
              <th>Categoria</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              <% @products.each do |product| %>
                <%= render partial: 'table_row', locals: {product: product} %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

